@use 'sass:math';

$primary: #590e59;
$secondary: lighten(#66561b, 30%);
$tertiary: #088c78;
$highlight: lighten($tertiary, 50%);
$light: #eee;
$dark: #333;
$gray: #777;
$lightGray: #ddd;
$bg: #eee;

$short-duration: 0.1s;
$normal-duration: 0.2s;
$long-cycle-duration: 2s;
$stagger: 0.17s;

$success: hsl(120, 100%, 30%);
$danger: hsl(0, 100%, 30%);

$smaller: 0.25rem;
$micro: 0.5rem;
$neg-micro: -0.5rem;
$small: 1rem;
$medium: 2rem;

$standard-radius: 4px;
$small-radius: 2px;

$dismissButtonSize: 4rem;

@mixin StandardBoxShadow($color) {
  box-shadow: 0 1px 3px $color;
}

@mixin FilterShadow($color) {
  filter: drop-shadow(0px 1px 3px $color);
}

@mixin ModalBackdrop() {
  background: rgba($dark, 0.8);
}

@keyframes glowing {
  $radius: 0.2rem;
  $start: 0 1px $radius $radius $primary;

  0% {
    box-shadow: $start;
  }
  50% {
    box-shadow: 0 1px $radius $radius $success;
  }
  100% {
    box-shadow: $start;
  }
}

@keyframes glowingSvg {
  $radius: 0.2rem;
  $start: 0 1px $radius $radius $primary;

  0% {
    stroke: rgba($primary, 0.7);
  }
  50% {
    stroke: rgba($success, 0.7);
  }
  100% {
    stroke: rgba($primary, 0.7);
  }
}

@mixin ActiveAnimation() {
  animation-name: glowing;
  animation-duration: $long-cycle-duration;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@mixin OverlayActiveAnimation() {
  .overlay {
    @include ActiveAnimation;
  }
}

@mixin ShownOnDemand() {
  opacity: 0;
  pointer-events: none;
  &.isShown {
    opacity: 1;
    pointer-events: inherit;
  }
}

@font-face {
  font-family: 'Lato';
  src: url('../public/Lato-Regular.woff');
}

@font-face {
  font-family: 'ZillaSlab';
  src: url('../public/ZillaSlab-Regular.woff');
}

* {
  box-sizing: border-box;
}

body {
  background-color: $bg;
  color: #111;
  margin: 0;
  padding: 0;
  overflow-y: scroll;

  font-family: 'Lato', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.modalOpen {
    overflow-y: hidden;
  }
}

h1,
h2,
h3,
h4 {
  font-family: 'ZillaSlab', serif;
  color: $primary;
  margin: 0;
  margin-bottom: $micro;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  line-height: 1.4;
  margin-top: 0;
  margin-bottom: $small;
}

a {
  text-decoration: underline;
  color: $primary;
}

$tablet: 800px;
$widescreen: 1200px;

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

@mixin up-to-tablet() {
  @media (max-width: $tablet - 1px) {
    @content;
  }
}

@mixin tablet-and-above() {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin widescreen-and-above() {
  @media (min-width: $widescreen) {
    @content;
  }
}

// Note: The parent must be relatively- or absolutely-positioned.
@mixin fit-parent($percent: 0%) {
  position: absolute;
  top: $percent;
  left: $percent;
  width: 100% - 2 * $percent;
  height: 100% - 2 * $percent;
}

.IntroPage {
  ul {
    padding-left: $medium;
    list-style: disc;
    margin-bottom: $small;
  }

  h1 {
    margin-bottom: $small;
  }

  section {
    margin-bottom: $medium;

    @include tablet-and-above() {
      display: flex;

      margin-left: $neg-micro;
      margin-right: $neg-micro;

      &:nth-of-type(2n + 1) {
        flex-direction: row-reverse;
      }

      > * {
        flex: 1;
        margin: $micro;
      }
    }
  }

  .picture {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: $medium;

    img {
      min-width: 200px;
      max-width: 100%;
      border-radius: $standard-radius;
      @include StandardBoxShadow($primary);
    }
  }
}

.InfoPage {
  section:not(:first-child) {
    margin-top: $small;
  }

  li:not(:first-child) {
    margin-top: $micro;
  }
}

.container {
  width: 100%;
  max-width: 1000px;
}

.topLevel {
  padding-left: $micro;
  padding-right: $micro;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.NavbarContainer {
  padding-bottom: 3rem;
}

.Brand {
  font-family: 'ZillaSlab', serif;
  color: $primary;
  font-size: 1.8em;
  padding-right: $small;
  padding-bottom: 2px;
}

nav {
  position: fixed;
  width: 100%;
  z-index: 1; // make it above Login inputs on Firefox on Android

  @include tablet-and-above() {
    padding: 0;
  }

  background-color: rgba($primary, 0.95);
  color: $light;
  box-shadow: 0 0 2px $primary;

  display: flex;
  flex-direction: column;
  align-items: center;

  a {
    text-decoration: none;
  }

  .container {
    display: flex;
    align-items: baseline;
    padding: 0 $micro;
    @include tablet-and-above() {
      padding: 0;
    }

    a {
      color: $light;
    }

    ul {
      .wrapper {
        display: flex;
      }
      padding-top: 2px; // space for outline on active items

      display: flex;
      align-items: stretch;

      justify-content: space-between;
      flex: 1;
    }
  }

  .NavbarItem {
    margin-bottom: -2px; // try to align vertically and with brand
    a.content {
      padding: 0 $micro;
      border-bottom: 2px solid transparent;
      &.isActive {
        background-color: lighten($primary, 10%);
        border-bottom: 2px solid $highlight;
      }
    }

    @include tablet-and-above() {
      a.content {
        padding: 0 $micro;
      }
    }

    .content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
  }

  .success {
    color: lighten($success, 20%);
  }
}

footer {
  min-height: 4rem;

  background-color: #aaa;
  justify-content: center;
}

.smaller {
  font-size: 0.9em;
  color: #444;
}

.cta {
  background-color: $highlight;

  padding-top: $medium;
  padding-bottom: $medium;

  .StartSignupForm {
    width: 100%;
    max-width: $tablet;
    margin: auto;

    margin-bottom: $small;
    display: flex;
    align-items: stretch;
    justify-content: center;

    flex-direction: column;
    @media (min-width: $tablet) {
      flex-direction: row;
    }

    .FormField {
      margin-bottom: 1rem;
      @media (min-width: $tablet) {
        margin-bottom: 0;
        flex: 1;
      }
    }
    .FormLabel {
      display: none;
    }
    .FormValue {
      margin-bottom: 0;
      input {
        width: 100%;
      }
    }

    .buttons {
      margin: 0 auto;
    }
    .button {
      padding: $micro $medium;
    }
    input {
      min-width: 1rem;
      font-size: 1.2em;
    }
  }
}

input:not([type='file']),
select,
textarea {
  transition: box-shadow $normal-duration;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: lighten($primary, 10%);
  border-radius: $standard-radius;
  display: inline-flex;
  justify-content: flex-start;
  vertical-align: top;

  padding: $micro;
  line-height: 1.5;

  &:active,
  &:focus {
    border-color: $primary;
    box-shadow: 0 0 0.125rem lighten($primary, 10%);
    color: black;
  }

  &.button:focus {
    color: white;
  }
}

@mixin Button($backgroundColor, $hoverBackgroundColor, $borderColor) {
  background-color: $backgroundColor;
  border: 1px solid $borderColor;
  box-shadow: 0px 1px 2px $dark;
  text-decoration: none;
  &:hover {
    background-color: $hoverBackgroundColor;
  }
  color: #fdf;

  display: flex;
  align-items: center;
  justify-content: center;

  white-space: nowrap;
  border-radius: $standard-radius;
  cursor: pointer;

  transition: background-color $normal-duration ease-in-out;
  &:focus,
  &:active {
    outline: 2px dotted blue;
  }
  padding: $micro;
  line-height: 1.5;
}

.button.isPrimary {
  @include Button($primary, lighten($primary, 20%), $primary);
}

@mixin ButtonPressedState() {
  box-shadow: inset 0px 0px 2px $dark;
  position: relative;
  top: 1px;
  left: 1px;
}

.button {
  cursor: pointer;

}

.button:not(.isDisabled):not(.hasPositionAbsolute):active {
  @include ButtonPressedState();
}

// repeat isPressed to override the color .is* styles
.button.isPressed.isPressed {
  text-decoration: underline;
  @include ButtonPressedState();
}

.button.isSecondary {
  @include Button($bg, $lightGray, $dark);
  color: $dark;
}

.button.isDanger {
  @include Button($danger, lighten($danger, 10%), $danger);
}

.button.isDangerOutline {
  @include Button($bg, $lightGray, $danger);
  color: $danger;
}

.button.isPrimaryOutline {
  @include Button($bg, $lightGray, $primary);
  color: $primary;
  font-weight: bold;
}

.button.isDisabled,
.button[disabled] {
  @include Button($bg, $bg, $lightGray);
  color: gray;
  cursor: not-allowed;
}

.button.isPrimary.isDisabled,
.button.isPrimary[disabled] {
  $color: change-color($primary, $saturation: 10%);
  @include Button($color, $color, $gray);
  color: lighten($gray, 20%);
  cursor: not-allowed;
}

.button.isPrimaryOutline.isDisabled,
.button.isPrimaryOutline[disabled] {
  @include Button($bg, $bg, $gray);
  color: $gray;
  cursor: not-allowed;
}

.button.hasPositionAbsolute {
  position: absolute;
}

@mixin Well($color) {
  border-left: 8px solid $color;
  background: lighten($color, 20%);
  &.withIcon svg {
    color: darken($color, 30%);
  }
}

.Well {
  border-radius: $standard-radius;
  padding: $small;
  margin-bottom: $small;

  &.none {
    display: none;
  }

  &.success {
    @include Well(lighten($success, 30%));
  }

  &.danger {
    @include Well(lighten($danger, 30%));
  }

  &.info {
    @include Well($secondary);
  }

  &.tertiary {
    @include Well(lighten($tertiary, 20%));
  }

  &.withIcon {
    display: flex;
    align-items: center;

    & > svg {
      transform: scale(2);
      margin-right: $small;
    }
  }

  ul {
    list-style: disc;
    margin-left: 1rem;
  }
}

@mixin AspectRatioTrick($aspectRatio) {
  width: 100%;
  height: 0;
  padding-bottom: #{math.div(1, $aspectRatio) * 100}#{'%'};
}

@mixin LoaderBorder($color) {
  border: 0.2rem solid rgba($color, 0.2);
  border-left-color: $color;
}

.Loader {
  width: $medium;
  height: $medium;
  border-radius: 50%;
  @include LoaderBorder($primary);
  background: transparent;
  animation: rotate-loader 1s linear infinite;
  margin: $small 0;

  &.isCentered {
    margin: $small auto;
  }

  &.isMarginless {
    margin: 0;
  }

  &.isInNavbar {
    width: $small;
    height: $small;
    margin: 0;
    padding: 0;

    border: 0.15rem solid rgba($highlight, 0.2);
    border-left-color: $highlight;
  }
}

@keyframes rotate-loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

$avatarSizeSm: 32px;
$avatarSize: 48px;

.avatar {
  width: $avatarSize;
  height: $avatarSize;
  border-radius: $standard-radius;
  @include StandardBoxShadow($secondary);
  img {
    width: 100%;
    height: 100%;
  }
}

.MessageFromTemplate {
  white-space: pre-wrap;
}

$sekiColorI: #fccd0d;
$sekiColorT: #231f20;
$sekiBackgroundColorI: lighten($sekiColorI, 35%);
$sekiBackgroundColorT: lighten($sekiColorT, 55%);

.ChatComponent {
  flex: 1; // assume we're inserted in `flex-direction: column` parent
  display: flex;
  flex-direction: column;
  min-height: 6rem;

  .Messages {
    flex: 1;
    flex-basis: 0px;
    overflow-y: scroll;
  }

  .Messages > div {
    margin-bottom: $micro;

    .avatar {
      margin-right: $micro;
    }

    .noAvatar {
      width: $avatarSize;
      margin-right: $micro;
    }

    .main {
      flex: 1;
    }

    .author {
      font-weight: bold;
      margin-right: $micro;
    }

    .timestamp {
      color: $gray;
      margin-right: $micro;
    }

    .text {
      // handles a weird corner case of no-space long "word".
      overflow-wrap: anywhere;
    }
  }

  &.isCondensed {
    line-height: 1.1;

    .avatar {
      flex-basis: math.div($avatarSize, 2);
      width: math.div($avatarSize, 2);
      height: math.div($avatarSize, 2);
    }

    .Messages > div {
      margin-bottom: 2px;

      &.MessageFromTemplate {
        padding-top: 2px;
        padding-bottom: 2px;
      }
      align-items: center;

      .avatar {
        margin-right: $smaller;
      }

      .author {
        margin-right: $smaller;
      }
    }

    .main {
      display: flex;
      align-items: center;
    }

    h3, h4 { margin-top: $micro; }
  }

  input {
    width: 100%;
  }

  // XXX these two are relevant only for td
  .u {
    background-color: #ddf;
    color: #446;
  }

  .s {
    background-color: #fdd;
    color: #644;
  }

  // XXX and these two only for seki
  .i {
    background-color: $sekiBackgroundColorI;
  }

  .t {
    background-color: $sekiBackgroundColorT;
  }

  h2, h3, h4 { margin-top: $small; }
  h2 + h3 { margin-top: 0; }
  h2 { font-size: 22px; }
  h3 { font-size: 20px; }
  h4 { font-size: 18px; }
}

.ChatPage {
  .container {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: $micro;
  }

  .PeopleOnline {
    margin-bottom: $micro;
    position: absolute;
    width: 100%;
  }

  .ChatComponent {
    // below absolutely-positione PeopleOnline which shouldn't take more
    // than 1 line when not expanded
    padding-top: 2.8rem;
  }
}

.GameDetailsPage {
  .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-bottom: $micro;
  }

  .infoList {
    margin-bottom: $micro;
  }

  .comment {
    font-weight: bold;
  }

  .playerSlots {
    margin-bottom: $micro;
  }

  .GameActionButtons {
    display: flex;
    align-items: center;

    & > *:not(:last-child) {
      margin-right: $micro;
    }

    .Loader {
      margin-left: $small;
    }

    margin-bottom: $micro;
  }

  .PeopleOnline {
    margin-bottom: $micro;
  }
}

.hideSmall.hideSmall {
  // repeat to increase specificity
  @include up-to-tablet {
    display: none;
  }
}

.hideBig.hideBig {
  @include up-to-tablet {
    display: inherit;
  }

  @include tablet-and-above {
    display: none;
  }
}

.PeopleOnline {
  border-radius: $standard-radius;
  background: $secondary;
  @include StandardBoxShadow(darken($secondary, 20%));

  ul {
    display: none;
    padding: $micro;
    flex-wrap: wrap;
    background: lighten($secondary, 20%);
  }

  .toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: $micro;
  }

  &.isExpanded {
    ul {
      display: flex;
    }

    .toggle {
      padding-bottom: $micro;
    }
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: $micro;
    margin-right: $small;
    padding: 2px;
    border-bottom: 1px solid $gray;

    .avatar {
      margin-right: $micro;
    }
  }
}

.SandboxPage {
  .FormField {
    @include tablet-and-above {
      max-width: 50%;
    }
  }

  input[type="text"] {
    width: 100%;
  }
}

.LobbyPage {
  h2 {
    margin-bottom: $micro;
  }

  .create {
    margin-bottom: $small;
    display: flex;
    align-items: center;

    div, button:not(:last-child) {
      margin-right: $small;
    }
  }

  .CreateGameModal {
    h2 {
      padding: $micro $small;
    }

    .FormField {
      padding: 0 $small;

      @include tablet-and-above {
        max-width: 50%;
      }
    }

    input[type="text"] {
      width: 100%;
    }

    .errors {
      padding: 0 $small;
    }

    .buttons {
      background: $highlight;
      padding: $small;
      margin-bottom: 0;
    }

    .inviteeContainer {
      width: 100%;
      @include tablet-and-above {
        display: flex;
      }

      @include up-to-tablet {
        .FormField {
          margin-bottom: 0;
        }

        .selectionList {
          margin-bottom: $small;
          padding: 0 $small;
        }
      }

      .FormField {
        flex: 1;
      }

      .selectionList {
        flex: 1;

        display: flex;
        flex-wrap: wrap;

        li:not(:last-child) {
          margin-right: $micro;
        }

        .choice {
          text-decoration: underline;
          color: $primary;
          cursor: pointer;
        }

        .isCurrent {
          font-weight: bold;
        }
      }
    }
  }

  .Loader {
    margin: 0;
  }

  .LobbyGameFilters {
    border-radius: $standard-radius;
    margin-bottom: $small;
    border: 1px solid $secondary;

    .checkboxes {
      display: flex;
      flex-wrap: wrap;

      .filterContainer {
        label {
          display: inline-block;
          padding: $small $micro;
        }
        input {
          margin-right: $micro;
        }
      }
    }
  }

  .pastGamesLinkContainer {
    margin: $micro 0;
  }
}

.ListOfGameCards {
  @include tablet-and-above() {
    display: flex;
    flex-wrap: wrap;
    // Align game cards with left and right imaginary lines.
    margin-left: - math.div($micro, 2);
    margin-right: - math.div($micro, 2);
  }

  margin-bottom: $small;
}

.infoList {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;

  & > *:not(:last-child) {
    padding-right: $micro;
    border-right: 1px solid $tertiary;
    margin-right: $micro;
  }
}

.timestamp {
  color: $gray;
  font-size: 0.8em;
  white-space: nowrap;
}

.GameCard {
  border-radius: $standard-radius;
  @include StandardBoxShadow($dark);

  box-sizing: border-box;

  margin-bottom: $micro;

  @include up-to-tablet() {
    width: 100%;
  }

  a {
    text-decoration: none;
  }

  @include tablet-and-above {
    width: calc(50% - #{$micro});
    margin-left: math.div($micro, 2);
    margin-right: math.div($micro, 2);
  }

  @media (min-width: 800px) {
    width: calc(33.33% - #{$micro});
  }

  display: flex;
  flex-direction: column;

  .one {
    padding: $micro;
    flex: 1;
    display: flex;
    flex-direction: row;
  }

  .info {
    flex: 1;
  }

  .comment {
    font-weight: bold;
  }

  .GameActionButtons {
    margin-left: $micro;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    & > *:not(:last-child) {
      margin-bottom: $micro;
    }
  }

  .playerSlots {
    padding: $micro;
  }

  h3 {
    margin-bottom: 0;
  }
}

.playerSlots {
  display: flex;
  background: $lightGray;

  li {
    display: flex;
    align-items: center;
    max-width: 50%;

    .avatar {
      width: $avatarSize;
      height: $avatarSize;
      margin-right: $micro;
      flex: 0 0 $avatarSize;
    }
  }

  &:not(.isSmall) {
    padding: $micro;
    li {
      min-height: $avatarSize;
    }

    li:not(:last-child) {
      margin-right: $medium;
      &::after {
        margin-left: $medium;
        font-weight: bold;
        content: 'vs';
      }
    }
  }

  &.isSmall {
    flex-direction: row;

    li .avatar {
      width: $avatarSizeSm;
      height: $avatarSizeSm;
      flex: 0 0 $avatarSizeSm;
    }

    li:not(:last-child) {
      margin-right: $micro;
      &::after {
        font-weight: bold;
        content: '\00a0vs';
      }
    }
  }

  .empty {
    font-style: italic;
  }

  .slotDisplay {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.Modal {
  position: fixed;
  overflow-y: scroll;

  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;

  @include ModalBackdrop();

  .container {
    overflow: auto;
    background-color: $bg;
    padding: $micro;
    max-width: initial;
    display: flex;
    flex-direction: column;
  }

  &.isFullHeight {
    .container {
      flex: 1;
    }
  }

  @mixin Window($tabletXMargins: $medium) {
    .container {
      max-height: calc(100% - 2 * $micro);
      width: calc(100% - 2 * $micro);

      @include tablet-and-above() {
        position: relative;
        max-height: calc(100% - 2 * $medium);
        width: calc(100% - 2 * $tabletXMargins);
      }

      border-radius: $standard-radius;
      box-shadow: 0px 1px 2px $tertiary;
    }
  }

  &.isWindow {
    @include Window;
  }

  &.isMobileFullscreen {
    @include up-to-tablet {
    }

    @include tablet-and-above {
      @include Window;
    }
  }

  &.isActive {
    display: flex;
    overflow-y: scroll;
  }

  &.isPgp {
    overflow-y: auto;
    @include tablet-and-above {
      width: 70%;
      @include Window($micro);
    }
  }
}

.FormField {
  margin-bottom: $small;
  display: flex;
  flex-direction: column;

  .FormValue {
    position: relative;
  }

  .icon {
    position: absolute;
    bottom: 0;
    right: $micro;
    height: 100%;
    display: flex;
    align-items: center;

  }

  &.isSuccess {
    input {
      background: lighten($success, 60%);
      border-color: $success;
    }

    .icon {
      color: $success;
    }
  }

  &.isInvalid {
    input {
      background: lighten($danger, 60%);
      border-color: $danger;
    }

    .icon {
      color: $danger;
    }
  }

  .Well {
    margin-top: $micro;
  }
}

.FormLabel {
  margin-bottom: $micro;
}

.FormValue {
  flex: 2;
}

.buttons {
  display: flex;

  margin-top: $small;
  margin-bottom: $small;

  & > *:not(:last-child) {
    margin-right: $small;
  }
}

label.radio {
  margin-right: $micro;
}

label.checkbox {
  margin-right: $micro;
}

.scrollbarMeasurer {
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.PlayGamePage {
  flex: 1;
  background-color: $bg;

  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @mixin HasCardCrop($cardAspectRatio, $cardMaxWidth, $borderPolicy) {
    .CardCrop {
      position: relative;
      max-width: $cardMaxWidth;

      .inner {
        overflow: hidden;

        @include AspectRatioTrick($cardAspectRatio);

        img {
          width: 100%;
        }

        border-radius: $small-radius;
        @if $borderPolicy == 'with-border' {
          border: 1px solid $dark;
        }
      }

      &.isHoverable {
        .inner, .overlay, .chosenIndicator {
          transform-origin: 50% 100%;
          transition: transform $short-duration, opacity $short-duration;
        }

        &.isPointOfAttention {
          .inner, .overlay, .chosenIndicator {
            transform: scale(1.1);
          }
        }
      }

      .overlay {
        @include fit-parent();
        border-radius: $small-radius;

        @include up-to-tablet {
          &.hoverable {
            display: none;
          }
        }

        @include tablet-and-above {
          &.touchable {
            display: none;
          }
        }
      }

      &.isActive {
        cursor: pointer;
        @include OverlayActiveAnimation;
      }

      &:focus .overlay {
        outline: 2px dotted $primary;
      }

      .chosenIndicator {
        opacity: 0;
        color: $primary;
        @include fit-parent();
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 3rem;
        @include FilterShadow($highlight);
      }

      &.isChosen {
        .chosenIndicator {
          opacity: 0.8;
        }
      }
    }
  }

  @mixin HasDesktopCardPreview($height, $cardAspectRatio) {
    .DesktopCardPreview {
      position: absolute;
      top: -2px; // When 0, the top border of PlayerBadge is visible, to an
      // ugly effect.

      right: $micro;
      height: $height;
      aspect-ratio: $cardAspectRatio;

      max-height: 100%;
      z-index: 12;

      border-radius: $standard-radius;
      border: 1px solid $gray;
      background: rgba($lightGray, 0.5);

      display: none;
      &.isActive {
        display: inherit;
      }

      img {
        height: 100%;
        position: absolute;
        right: 0;
        top: 0;
      }

      @include up-to-tablet {
        &,
        &.isActive {
          display: none;
        }
      }

      &.showOnLeft {
        right: unset;
        left: $micro;

        img {
          right: unset;
          left: 0;
        }
      }
    }
  }

  @mixin HasBoard($boardAspectRatio, $fixedPartMobile, $fixedPartTablet) {
    .board {
      user-select: none;
      width: 100%;
      z-index: 0;

      // For td, 14rem is the fixed portion: navbar, actionLine, cards.  For
      // seki, I have no idea why this works.
      max-width: calc((100vh - #{$fixedPartMobile}) * #{$boardAspectRatio});

      @include tablet-and-above {
        max-width: calc((100vh - #{$fixedPartTablet}) * #{$boardAspectRatio});
      }

      .wrapper {
        position: relative;
        @include AspectRatioTrick($boardAspectRatio);
        z-index: 0;
      }

      .boardImage {
        @include fit-parent();
      }

    }
  }

  > .container {
    flex: 1;
    display: flex;

    @include up-to-tablet() {
      flex-direction: column;

      .partition1 {
        position: relative;
        min-height: 50vh;
        flex: 0;
        display: flex;
        flex-direction: column;
      }

      .partition2 {
        flex: 1;
        display: flex;
        flex-direction: column;
      }
    }

    @include tablet-and-above() {
      max-width: initial;
      flex-direction: row;
      padding: 0 $micro;

      .partition1 {
        position: relative;
        flex: 1 0 70%;
        display: flex;
        flex-direction: column;
      }

      .partition2 {
        flex: 1 0 30%;
        display: flex;
        flex-direction: column;
        margin-bottom: $micro;
      }
    }
  }

  .actionLine {
    display: flex;
    padding: 0 $micro;
    min-height: 3rem;
    align-items: center;
    background-color: lighten($secondary, 20%);
    border-radius: $standard-radius;

    &.isActionExpected {
      background-color: $highlight;
    }

    .rest {
      flex: 1;
      display: flex;
      align-items: center;

      .action {
        margin-left: $micro;
        line-height: 1;
      }

      .controls {
        display: flex;
        > * {
          margin-left: $micro;
        }
      }
    }

    .GameMenuButton {
      margin-left: $micro;
    }
  }

  .badges {
    display: flex;

    @include up-to-tablet {
      margin-bottom: $micro;

      margin-top: $micro;
    }

    @include tablet-and-above {
      padding-left: $micro;
    }

    justify-content: center;
    align-items: center;

    @include tablet-and-above {
      flex-direction: column;
      align-items: stretch;
    }

    // Return back to horizontal alignment when there is enough width.
    @include widescreen-and-above {
      flex-direction: row;
      align-items: center;
    }

    $badgeAvatarSize: $avatarSize * 1.2;

    .PlayerBadge {
      @include up-to-tablet {
        max-width: calc(50%);
        &:not(:first-child) {
          margin-left: $micro;
        }
      }
      @include widescreen-and-above {
        &:not(:first-child) {
          margin-left: $micro;
        }
      }
      flex: 1 0;

      display: flex;
      align-items: center;

      border-radius: $standard-radius;
      border: 1px solid $primary;
      @include StandardBoxShadow($primary);

      @include tablet-and-above() {
        margin-bottom: $micro;
      }

      position: relative;
      overflow: hidden;

      .avatar {
        margin-right: $micro;
        user-select: none;
        width: $badgeAvatarSize;
        height: $badgeAvatarSize;
      }

      .roleIcon {
        position: absolute;
        top: math.div(-$badgeAvatarSize, 2);
        right: math.div(-$badgeAvatarSize, 2);
        opacity: 0.1;
        width: $badgeAvatarSize * 2;
        height: $badgeAvatarSize * 2;
        z-index: 0;
      }

      .playerName {
        font-weight: bold;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-shadow: 1px 1px 2px $lightGray;
      }

      $lineHeight: math.div($badgeAvatarSize, 3);

      .lines {
        z-index: 1;
        flex: 1;
        overflow: hidden;

        display: flex;
        flex-direction: column;

        & > * {
          flex: 1;
          height: $lineHeight;
          line-height: $lineHeight;
        }
      }

      .infoLine {
        user-select: none;
        img {
          height: 0.8rem;
          position: relative;
          top: 1px; // vertical-align: baseline looks off
        }
        svg {
          position: relative;
          top: 3px;
        }
      }

      .bordered {
        border: 1px solid $dark;
        border-radius: 2px;
      }

      .initiative {
        color: yellow;
        background: $dark;
        border-radius: 50%;
        width: 1rem;
        height: 1rem;
        display: inline-block;
        position: relative;
        top: 4px;

        svg {
          top: 0;
        }
      }
    }
  }

  &.td {
    .PlayerBadge {
      &.s {
        background: lighten(red, 40%);
      }

      &.u {
        background: lighten(blue, 40%);
      }
    }

    .boardOuter {
      @include tablet-and-above {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      $tdBoardAspectRatio: 1.43;

      @include HasBoard($tdBoardAspectRatio, 14rem, 14rem);

      .board {
        .widgets {
          @include fit-parent();

          .cubes {
            display: flex;

            height: 33%;
            img {
              height: 100%;
            }
          }

          .cubes.s {
            // The margin is for visual positioning of the rows.
            margin-top: 21%;
            flex-direction: row-reverse;
          }
        }
      }
    }

    $tdCardAspectRatio: 1.15;
    $tdCardMaxWidth: 116px;

    .cards {
      display: flex;
      user-select: none;
      @include up-to-tablet {
        padding-left: $micro;
        padding-right: $micro;
      }

      @include tablet-and-above {
        max-height: 7rem;
      }

      padding-bottom: $micro;

      .hand {
        flex: 1;
        display: flex;
        justify-content: center;

        .CardCrop {
          width: 19%; // 5 cards in hand max
          margin-right: 1%;
        }
      }

      .pile {
        position: relative;
        width: 16%; // display 6 card-sized things in a row: 5 cards & this pile.
        max-width: $tdCardMaxWidth;
        margin-left: $micro;

        .pileInner {
          @include AspectRatioTrick($tdCardAspectRatio);
        }

        border-radius: $standard-radius;
        @include StandardBoxShadow($primary);

        .inPlay {
          @include fit-parent();
          &:empty {
            pointer-events: none;
          }
        }

        .discard {
          @include fit-parent();

          .CardCrop {
            opacity: 0.7;
          }
        }

        .label {
          overflow: hidden;
          font-size: 0.8em;
          position: absolute;
          top: 0;
          z-index: -1;
          width: 100%;
          text-align: center;
          background: rgba($primary, 0.9);
          color: $light;
          border-radius: $small-radius;
        }
      }
    }

    .AgendaZone {
      position: absolute;
      width: 10%;
      padding: 0;

      &.s {
        right: 0;
        top: 6%;
      }

      &.u {
        left: 0;
        top: 74%;
      }
    }

    .DefconSpaces {
      @include fit-parent();
    }

    .marker {
      position: absolute;

      .overlay {
        @include fit-parent();
        &:focus {
          outline: 2px dotted $highlight;
        }
      }

      &.isChosen {
        background: rgba($success, 0.8);
        &::before {
          content: '';
          @include fit-parent(10%);
          border: 1px dashed $dark;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }

      &.WholeDefcon {
        &.isActive {
          @include OverlayActiveAnimation;
        }
      }

      &.isTrack {
        // seemed simpler to do it here rather than in data
        transform: rotate(-3deg);

        &.isActive {
          @include OverlayActiveAnimation;
        }
      }

      &.bg.isActive {
        @include OverlayActiveAnimation;

        &.popupMenuVisible {
          .overlay {
            animation-play-state: paused;
          }
        }
      }

      &.aftermath {
        cursor: pointer;

        &:hover,
        &:focus {
          @include StandardBoxShadow($highlight);
          background: rgba($highlight, 0.2);
        }
      }
    }

    .tracker {
      position: absolute;

      img {
        position: absolute;
        top: 0;
        height: 100%;
        @include FilterShadow($dark);
      }
    }

    @include HasCardCrop($tdCardAspectRatio, $tdCardMaxWidth, 'with-border');
    @include HasDesktopCardPreview(38rem, 0.7576);
  }

  &.seki {
    .PlayerBadge {
      .roleIcon {
        opacity: 0.4;
      }

      &.i {
        background-color: $sekiBackgroundColorI;
      }

      &.t {
        background-color: $sekiBackgroundColorT;
      }
    }

    .boardOuter {
      @include up-to-tablet {
        flex: 1;
      }

      @include tablet-and-above {
        flex: 1;
        display: flex;
        justify-content: center;
        align-items: flex-start;
      }

      position: relative;
      overflow: hidden;

      .ZoomControls {
        position: absolute;
        opacity: 80%;
        z-index: 1;
        top: $micro;
        right: $micro;
        border-radius: $standard-radius;
        display: flex;
        flex-direction: column;

        button {
          &:not(:last-child) {
            margin-bottom: $micro;
          }
        }
      }

      $sekiBoardAspectRatio: 1.5649;

      .spaceLimiter {
        @include fit-parent();

        .sizer {
          position: relative;
          @include AspectRatioTrick($sekiBoardAspectRatio);
        }
      }

      svg.widgets {
        touch-action: none;
        @include fit-parent();
        z-index: 1;

        .svgMarker {
          stroke: transparent;
          stroke-width: 8;
          fill: rgba($primary, 0);

          transition: all $short-duration;
          transform: scale(1);

          &.location {
            cursor: pointer;
          }

          &.isActive {
            fill: rgba($primary, 0.3);

            animation-name: glowingSvg;
            animation-duration: $long-cycle-duration;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite;
          }

          &.isPointOfAttention {
            fill: rgba($primary, 0.7);

            transform: scale(1.3);
          }
        }

        .connectionIcon {
          opacity: 0;
          transition: opacity $normal-duration;

          &.isCovered {
            opacity: 1;
          }
        }

        .movementTargetIcons {
          fill: $highlight;
          opacity: 0.8;

          @include FilterShadow($dark);
        }

        .unit {
          transition: transform $normal-duration;

          &.i {
            filter: drop-shadow(-2px -2px 4px rgba(0, 0, 0, .7));
          }
          &.t {
            filter: drop-shadow(-2px -2px 4px rgba(255, 255, 255, .7));
          }
        }
      }
    }

    .CardsOverlay {
      pointer-events: none;
      @include fit-parent();
      display: flex;
      flex-direction: column-reverse;

      @include tablet-and-above {
        padding-bottom: $micro;
      }

      .CardZone {
        padding-top: $micro;

        &.isHidden {
          display: none;
        }
      }
    }

    @mixin HasSekiCardHeight($with) {
      height: calc(12vw + $with);
      min-height: 3rem;
      max-height: 7rem;
    }

    $sekiCardAspectRatio: 0.7158;
    $sekiCardMaxWidth: 5rem;

    .chosenCardZones {
      padding-bottom: $micro;
      @include HasSekiCardHeight($micro);
    }

    $sekiUnitWidth: 5.25rem;
    $sekiUnitHeight: 2.5rem;

    .sekiLocationModalContent {
      flex: 1;
      display: flex;
      flex-direction: column;

      .controls {
        display: flex;
        align-items: center;

        .label:not(:empty) {
          margin-right: $micro;
        }

        button:not(:last-child) {
          margin-right: $micro;
        }

        margin-bottom: $micro;

        &.wrap {
          flex-wrap: wrap;
        }
      }

      .stacks {
        flex: 1;
        flex-basis: 0;
        display: flex;
        padding-bottom: $micro;
        overflow-x: auto;

        .stackContainer {
          flex: 0 0 fit-content;
          height: 100%;
          min-width: $sekiUnitWidth;

          display: flex;
          flex-direction: column;
          padding: $micro;

          border-radius: $standard-radius;

          &:not(:last-child) {
            margin-right: $micro;
          }

          &.i {
            background-color: $sekiBackgroundColorI;
          }
          &.t {
            background-color: $sekiBackgroundColorT;
          }

          .label {
            margin-top: $micro;
            text-align: center;
          }
        }

        .UnitStack {
          flex: 1;

          display: flex;

          // With column wrapping, width doesn't grow; but with row wrapping,
          // height does.  The writing mode trick allows placing several stacks
          // side by side.
          // https://stackoverflow.com/questions/23408539/how-can-i-make-a-displayflex-container-expand-horizontally-with-its-wrapped-con/41209546#41209546

          flex-direction: row-reverse; // gravity: fill bottom-to-top
          flex-wrap: wrap;
          writing-mode: vertical-lr;
          min-width: calc($sekiUnitWidth + 2px);
          width: fit-content;

          .unit {
            margin-top: 2px;
            margin-right: 2px;
            padding: 0;
            width: $sekiUnitWidth;
            height: $sekiUnitHeight;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            transition: transform $short-duration;

            .overlay {
              @include fit-parent();

              border-radius: $standard-radius;
            }

            &.isActive {
              @include OverlayActiveAnimation;
              cursor: pointer;

              &:hover {
                z-index: 1; // any will do to be above siblings.
                transform: scale(1.1);
              }
            }

            &:nth-child(4n) {
              margin-top: calc($micro + 2px);
            }

            > img {
              height: $sekiUnitHeight;
            }

            .addedImpactContainer {
              position: absolute;
              right: -$micro;
              top: $sekiUnitHeight / 2;
              color: $lightGray;
              writing-mode: horizontal-tb;
              height: $sekiUnitHeight / 2;
              text-shadow: 1px 1px 2px black;
              background: rgba(red, 0.7);
              border-radius: $standard-radius;
              display: flex;
              align-items: center;
              padding: 0 $smaller;
            }
          }

        }
      }

      .bottomPart {
        position: relative;

        @include up-to-tablet {
          flex: 0 0 20%;
        }
        @include tablet-and-above {
          flex: 0 0 30%;
        }
      }

      .locationPreview {
        height: 100%;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;

        &.displayHand {
          justify-content: flex-end;
        }

        .holder {
          position: relative;
          @include StandardBoxShadow($dark);
          border-radius: $standard-radius;
          overflow: hidden;
          height: 100%;
          width: 100%;
          background-color: $lightGray;

          @include tablet-and-above {
            max-width: 20rem;
          }
        }

        img {
          position: absolute;
          left: 50%;
          top: 50%;
        }

        .unitCountsLabel {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;

          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.2rem;

          > div {
            padding: $micro;
            border-radius: $standard-radius;
            @include StandardBoxShadow($secondary);
          }

          .i {
            background-color: rgba($sekiBackgroundColorI, 0.7);
          }
          .t {
            background-color: rgba($sekiBackgroundColorT, 0.7);
          }

        }
      }

      .HandInLocationModal {
        position: absolute;
        bottom: $micro;
        width: 100%;
      }

      button.t {
        height: 2.25rem;
        img { width: 1.25rem; }
        @include Button($sekiColorT, lighten($sekiColorT, 20%), $primary);
      }
      button.i {
        height: 2.25rem;
        img { width: 1.25rem; }
        @include Button($sekiColorI, lighten($sekiColorI, 20%), $primary);
      }
    }

    @include HasCardCrop($sekiCardAspectRatio, $sekiCardMaxWidth, 'no-border');
    @include HasDesktopCardPreview(30rem, $sekiCardAspectRatio);

    .CardsRow {
      position: relative;
      width: 100%;

      @include HasSekiCardHeight(0px);

      .cardHolder {
        pointer-events: all;
        aspect-ratio: $sekiCardAspectRatio;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;

        transition: transform $short-duration;

        &:hover {
          z-index: 1;
        }
      }
    }

    .CardCrop {
      img.facing_facedown {
        opacity: 0.8;
      }
    }

    .actionLine {
      button {
        text-transform: capitalize;
      }
    }

    .InteractiveLocationTitle {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  @for $i from 0 through 23 {
    .stagger#{($i)} {
      .overlay {
        // stagger is negative to begin animation of all active markers
        // at once.
        animation-delay: #{0 - $stagger * $i};
      }
    }
  }

  @for $i from 0 through 100 {
    .staggerStraight#{($i)} {
      animation-delay: #{0 - $stagger * $i};
    }
  }

  .History {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative;

    &.isHidden {
      visibility: hidden;
    }

    .ChatContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-left: $micro;
      @include up-to-tablet {
        padding-right: $micro;
        input {
          display: none;
        }
      }
    }

    .ChatComponent {
      min-height: 0;

      .timestamp {
        display: none;
      }
    }

    .ToggleButton {
      position: absolute;
      right: $micro;
      bottom: $micro;

      width: 2rem;
      height: 2rem;

      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $standard-radius;
      @include StandardBoxShadow($primary);
      background: $secondary;
      opacity: 0.7;

      @include tablet-and-above {
        display: none;
      }
    }

    &.isExpanded {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: $bg;

      .ToggleButton {
        bottom: $micro;
        &.isLoggedIn {
          // Above the input
          bottom: 2.8rem + $micro;
        }
      }

      form {
        padding-bottom: $micro;
        input {
          display: inherit;
        }
      }
    }
  }

  .MobilePreview {
    @include tablet-and-above {
      display: none;
    }
    z-index: 12;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include ModalBackdrop();

    display: flex;
    flex-direction: column;
    transition: opacity $short-duration;

    opacity: 0;
    pointer-events: none;
    &.isOpen {
      opacity: 1;
      pointer-events: inherit;
    }

    .LoaderContainer {
      @include fit-parent();
      display: flex;
      align-items: center;
      justify-content: center;

      .Loader {
        @include LoaderBorder($lightGray);
      }
    }

    .Buttons {
      &:not(:empty) {
        padding: $micro;
      }
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      background-color: rgba($highlight, 0.9);

      & > *:not(:last-child) {
        margin-bottom: $micro;
      }
    }

    .MainContainer {
      flex: 1;
      position: relative;

      .More {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        .BigCardImg {
          object-fit: contain;
          width: 100%;
          height: 100%;
          @include ShownOnDemand();
        }

        .DefconCloseup {
          @include fit-parent();
          display: flex;
          justify-content: center;

          @include ShownOnDemand();

          img {
            height: 100%;
          }

          .widgets {
            position: absolute;
            height: 100%;
          }
        }
      }
    }
  }

  .PopperContent {
    z-index: 2;
  }

  .PopupMenu {
    background: rgba($light, 0.9);
    border-radius: $standard-radius;
    border: 1px solid $primary;
    @include StandardBoxShadow($primary);

    li {
      cursor: pointer;

      // Extra element to make focus rectangle fully visible, while
      // hovering changes background to the full extent.
      padding: 1px;

      .focusable {
        padding: $micro;
        display: flex; // don't split the lines
      }

      &:first-child {
        border-top-left-radius: $standard-radius;
        border-top-right-radius: $standard-radius;
      }

      &:last-child {
        border-bottom-left-radius: $standard-radius;
        border-bottom-right-radius: $standard-radius;
      }

      &:hover {
        background: lighten($primary, 40%);
      }

      .label {
        width: 7rem;
      }
      img {
        height: 1rem;
        // kinda vertical align, but cube-specific
        position: relative;
        top: 2px;
      }
    }
  }

  .InteractiveCardTitle {
    cursor: default;
    text-decoration: underline;
  }

  .ExpandedPileModalContent {
    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .CardCrop {
        width: 20%;
        max-width: 8rem;
        margin-right: 1px;
        margin-bottom: 1px;
      }
    }

    .explanationText {
      margin-bottom: $small;
      padding-right: $dismissButtonSize;
    }
  }

  .PersonalNotesModalContent {
    display: flex;
    flex-direction: column;
    flex: 1;

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
    }

    textarea {
      flex: 1;
      margin-bottom: $small;
    }

    .bottom {
      display: flex;
      align-items: center;

      button {
        margin-right: $small;
      }

      .success {
        color: $success;
      }

      .failure {
        color: $danger;
      }

      svg {
        position: relative;
        top: 3px;
      }
    }
  }

  .ExpandedPlayerBadgeModalContent {
    .header {
      padding-right: $dismissButtonSize;
      display: flex;
      align-items: center;

      .avatar {
        margin-right: $micro;
      }
      margin-bottom: $micro;
    }

    p {
      margin-bottom: $micro;
    }

    .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      .CardCrop {
        width: 20%;
        max-width: 8rem;
        margin-right: 1px;
        margin-bottom: 1px;
      }
    }
  }

  .BigCardImg {
    opacity: 0;
    transition: opacity $short-duration;

    &.isLoaded {
      opacity: 1;
    }
  }

  .connectionStatus {
    position: relative;
    top: 3px; // vertical-align isn't precise enough
    display: inline-flex;
    margin-right: 0.2rem;

    &.hgameOnline, &.sgameCurrentPov {
      color: darken($success, 10%);
    }

    &.hgameOffline {
      color: lighten($danger, 20%);
    }

    // .sgameNonCurrentPov is intentionally non-colored because danger doesn't
    // fit.
  }

  .ChatMessage {
    border-radius: $standard-radius;
    border: 1px solid $gray;
    background: $lightGray;
    padding: 0.25rem;
  }

  .CoveringPanel {
    overflow-y: scroll;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.isActive {
      display: flex;
      flex-direction: column;
    }
    z-index: 1;
  }
}

.DismissButton {
  position: absolute;
  top: 0;
  right: 0;
  width: $dismissButtonSize;
  height: $dismissButtonSize;
  padding: 0.5rem;
  z-index: 1;
  border-radius: $standard-radius;
  margin: 0;
  border: 0; // reset button styles
  cursor: pointer;

  background: rgba($lightGray, 0.8);
  @include StandardBoxShadow($lightGray);
  svg {
    width: 100%;
    height: 100%;
  }

  transition: background $short-duration, box-shadow $short-duration;
  &:hover,
  &:focus {
    @include StandardBoxShadow($secondary);
    background: rgba($secondary, 0.8);
  }

  &:active {
    box-shadow: inset 0px 0px 2px $secondary;
    svg {
      position: relative;
      top: 1px;
      left: 1px;
    }
  }
}

.labelWithIcon {
  display: flex;
  align-items: center;
  svg {
    margin-right: math.div($micro, 2);
  }
}

.gameName {
  display: inline-block;
}

.Outlink {
  svg {
    position: relative;
    top: 3px;
  }
}

.ServiceMessage {
  background: lighten($secondary, 20%);
  padding: $micro;
  padding-left: calc(#{$micro} - 4px);
  border-left: 4px solid darken($secondary, 10%);

  .timestamp {
    margin-right: $micro;
  }
  border-radius: $small-radius;
}

.ChatMessage {
  flex: 1;
  display: flex;
  align-items: center;
}

.YourTurnIndicator {
  background-color: $highlight;
  padding: $micro;
  border-radius: $standard-radius;
}

// Override react-hint arrow color.
.react-hint--top:after {
  border-top-color: $primary !important;
}
.react-hint--left:after {
  border-left-color: $primary !important;
}
.react-hint--right:after {
  border-right-color: $primary !important;
}
.react-hint--bottom:after {
  border-bottom-color: $primary !important;
}

.AccountPage {
  form {
    margin-bottom: $medium;
  }

  .avatarContainer {
    margin: $small 0;
  }
}

.AllowGameEmailsField {
  input {
    margin-right: $micro;
  }
}

.StatsPage {
  table {
    border-collapse: collapse;
    margin-bottom: $medium;
  }

  th,
  td {
    text-align: inherit;
    padding: #{math.div($micro, 2)} $small;
  }
}
